











*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
   background-color: rgba(230 226 226 / 47%);
   position: relative;
   margin-top: 100px;
}
nav{
    width: 100%;
    height:80px ;
    padding: 10px 8% 10px 8%;
    background-color: white;
    border: none;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7em;
}
.logo {
    width: 200px;
    height: 60px;
    background-color: rgba(170, 170, 170, 0.138);
    border-radius: 20px;
    display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        font-weight: 700;
        padding-right: 10px;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    transition-duration: 0.2s;
}

.logo img:hover{
    cursor: pointer;
    width: 62px;
    height: 62px;
    border-radius: 15px;
}


.menu{
    width: 50%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.menu a{
  

    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
   transition-duration: 0.4s;
}

.home{
    width: 60px;
}
.search{
width: 70px;
}
.about{
    width: 95px;
}
.work{
width: 130px;
}
.contact{
    width: 105px;
}

.menu a:hover{
color: red;
font-size: 1.1rem;
}


.registration{
    height: 60px;
      
        display: flex;
        align-items: center;
        gap: 2em;
       
    
}
.registration button{
    width: 100px;
    height: 80%;
   
    
    font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        border-radius: 20px;
}
.login{
    background-color: rgb(255, 98, 0);
 
    box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
}
.login a {
    text-decoration: none;
    color: white;

}
.login:hover{
    cursor: pointer;
    
    background-color: rgb(255, 0, 0);
    font-size: 0.9em;
   
}
.signup {
    background-color: rgb(255, 98, 0);
    color: rgb(0, 0, 0);
    box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.2);
    
    transition-duration: 0.4s;
}
.signup a {
    text-decoration: none;
    color: black;
}

.signup:hover{
    cursor: pointer;
   
    background-color: rgb(255, 0, 0);
    font-size: 0.9em;
   
}





.main{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.start{
    width: 100%;
    height: 650px;
    padding: 50px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.171);
    display: flex;

}
.gourment{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.premium{
width: 200px;
height: 30px;
padding-left: 10px;
background-color: rgba(136, 148, 150, 0.574);
border-radius: 10px;
font-size: 1rem;
display: flex;
align-items: center;
gap: 10px;



}
.premium img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 5px;
background-color: rgba(136, 148, 150, 0.574);
    z-index: -1;
}




.maintext{
    width: 100%;
    height: 200px;
    font-size: 5rem;
}
.subline{
    width: 100%;
    height: 50px;
    font-size: 20px;
}
.btn{
    width: 100%;
    display: flex;
    gap: 3em;
}
.btn button{
    width: 270px;
    height: 50px;

}
.btn button a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 700;
}

.order{
    border: none;
    background-color: red;
box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.2);
 border-radius: 10px;
 transition-duration: 0.4s;
}
.order:hover {
    cursor: pointer;

    background-color: rgb(255, 0, 0);
    font-size: 0.8em;

}
.explore{
   width: 300px;
    border: 3px solid rgba(255, 0, 0, 0.667);
    border-radius: 10px;
    background-color: rgba(162, 159, 159, 0.363);
    color: black;
   

}
.limg{
    width: 40%;
    height: 90%;
   
    border-radius: 40px;
}
.limg img{
    width: 100%;
        height: 100%;
        object-fit: cover;
        border-image-repeat: none;
        border-radius: 40px;
        transition-duration: 0.4s;
}
.limg img:hover{
    width: 101%;
    height: 101%;
    object-fit: cover;
        border-image-repeat: none;
        border-radius: 40px;
}

.whyfoodies{
    width: 100%;
    height: 450px;
     border-bottom: 2px solid rgba(128, 128, 128, 0.171);
    
}

.mainfoodie{
    margin-top: 100px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.mainfoodie h1 p {
    width: 100%;

}

.mainfoodie h1{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;                                  
}

.mainfoodie p {
    font-size: 1.5rem;
    font-weight: 100;
}

.foodiecond {

    width: 100%;
    display: flex;
    
   
    
}
.rated1,.rated2,.rated3{
    margin-top: 30px;
    width: 355px;
    height: 200px;
    border-radius: 20px;
   

    background-color: white;
    box-shadow: -2px -2px 20px -3px rgba(0, 0, 0, 0.421);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 20px;
    transition-duration: 0.4s;
}

.rated1 img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.rated2 img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.rated3 img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.rated1 p,
.rated2 p,
.rated3 p{
    color: rgba(128, 128, 128, 0.982);
}


.rated1{
    margin-right: 20px;
    padding: 10px;
}
.rated2{
    margin-right: 40px;
    margin-left: 40px;
    padding: 5px;
}
.rated3{
    margin-left: 20px;
    padding: 10px;
    
}
.rated1:hover{
width: 345px;
height: 190px;
margin-right: 25px;
margin-left: 5px;
border-radius: 20px;
}
.rated2:hover{
width: 345px;
height: 190px;
margin-right: 45px;
margin-left: 45px;
border-radius: 20px;

}
.rated3:hover{
    width: 345px;
        height: 190px;
        margin-left: 25px;
        margin-right: 5px;
        border-radius: 20px;
       
}
.featuresr{
    margin-top: 100px;
    width: 100%;
    height: 500px;
  

}
.featuresr h2{
    font-size: 2.5rem;
    margin: 50px;
    margin-left: 0;
    font-family: "Montserrat", sans-serif;                                  
}
.featurecart{
    width: 100%;
    height: 70%;
    display: flex;

}
.fcart1{
    width: 25%;
    height: 90%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -2px -2px 20px -3px rgba(0, 0, 0, 0.421);
    margin-right: 20px;
    transition-duration: 0.4;
   background-color: white;
}
.fcart2{
    width: 25%;
    height: 90%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -2px -2px 20px -3px rgba(0, 0, 0, 0.421);
    margin-right:20px;
    margin-left: 20px;
    transition-duration: 0.4;
    background-color: white;
 
}
.fcart3{
    width: 25%;
    height: 90%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -2px -2px 20px -3px rgba(0, 0, 0, 0.421);
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    transition-duration: 0.4;
   
}
.fcart4{
    width: 25%;
    height: 90%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -2px -2px 20px -3px rgba(0, 0, 0, 0.421);
    margin-left: 20px;
    transition-duration: 0.4;
    background-color: white;
  
}
.fcart1:hover{
    width: 24%;
    height: 89%;
     padding: 15px;
    margin-left: 5px;
    margin-right: 26px;
}
.fcart2:hover{
    width: 24%;
    height: 89%;
   
    margin-left: 26px;
    margin-right: 25px;
}
.fcart3:hover{
    width: 24%;
    height: 89%;
    margin-left: 25px;
    margin-right: 25px;
}
.fcart4:hover{
    width: 24%;
    height: 89%;
    margin-left: 25px;
    margin-right: 5px;
}

.fcart1 img,.fcart2 img,.fcart3 img,.fcart4 img {
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
    background-color: aqua;
    border-radius: 30px;
    object-fit: cover;
}
.fcart1 h5 ,
.fcart2 h5,
.fcart3 h5,
.fcart4 h5{
    font-size: 2rem;
    font-weight: 100;
    width: 100%;
    height: 15%;
    color: rgb(77, 76, 76);
    margin-bottom: 10px;
}

.fcart1 p,
.fcart2 p,
.fcart3 p,
.fcart4 p {
    height: 10%;
    width: 100%;
    font-size: 1.4em;
    color: rgb(128, 128, 128);
}


footer{
    border-top: 2px solid rgba(139, 137, 137, 0.385);
    width: 100vw;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.foter{
    width: 100%;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}
.ftmg{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 5px;
    
    margin-top: 50px;
    border: 2px solid red;
    border-radius: 5px;
    /* background-color: black; */
}
.ftmg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0) saturate(100%) invert(15%) sepia(99%) saturate(7051%) hue-rotate(4deg) brightness(100%) contrast(107%);
}
.ftname{
    width: 200px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
 
}

.ftname h5 {
    font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        font-weight: bold;
}
.ftname p {
    font-family: "Tangerine", sans-serif;
    font-size: 1.5em;
}
.ftreturn, .fotreturn{
    width: 400px;
        
        margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 85, 0, 0.767);
    font-size: 1.5rem;
  
}

.contacts{
    width: 100%;
    padding: 0 30em;
    display: flex;
    flex-direction: row;
 gap: 25em;

}
.email {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

}
.email img{
    width: 50px;
        height: 50px;
object-fit: cover;
filter: brightness(0) saturate(100%) invert(15%) sepia(99%) saturate(7051%) hue-rotate(4deg) brightness(100%) contrast(107%);
}
.phone {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.phone img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    filter: brightness(0) saturate(100%) invert(15%) sepia(99%) saturate(7051%) hue-rotate(4deg) brightness(100%) contrast(107%);
}
.logos{
    display: flex;
    margin: 0 43em;
    flex-direction: row;
    gap: 2em;
}
.logos img{
    width: 30px;
        height: 30px;
        object-fit: cover;
        filter: brightness(0) saturate(100%) invert(15%) sepia(99%) saturate(7051%) hue-rotate(4deg) brightness(100%) contrast(107%);
}



footer span{
    width: 100%;
    height: 3rem;
    margin-left: 40em;
    margin-right: 15em;
    color: grey;
}
footer span img {
    width: 153x;
    height: 13px;
    border-radius: 5px;
    background-color: gray;
    z-index: -1;
}